@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

@import 'foundation';
@import 'palette/_colorpallete';
@import 'settings';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
// @include foundation-flex-grid;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

// Global styles

section, div {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
	padding:0;
    margin:0;
}
section, div, li {
    background-size: cover;
    background-position: center center;
}
.button {
    font-weight: bold;
    background-color: $primary-color;
}
h2, h5 {
    color: $primary-color;
}
h3 {
    color: $subheader-color;
}
.tm-text-block {
	padding: 1.6em 1em;
}

// Townhall panel w/ background image
section.tm-townhall-panel {
    position: relative;
    height: 19em;
    h1 {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        font-family: 'Permanent Marker',Arial,Helvetica,cursive;
    	color: $header-overlay;
    }
}
.tm-img-townhall {
    background-image: url('https://img.thrivemarket.com/custom_assets/b16a1c51aa5ae1454c41e1562a3f82a7.png');
    background-position: center 0%;
}

//Mission statement section
section.tm-mission {
    h3 {
        color: $primary-color;
        margin-bottom: 0.7em;
    	line-height: 1.3em;
    }
    p {
        color: $subheader-color;
        line-height: 1.4em;
        margin-bottom: 2em;
    }
    .button {
        padding: 1em 4em;
    }
    @include breakpoint(medium) {
        .button {
            font-weight: bold;
        	padding: 0.8em 4em;
        }
    }
}

//Image carousel below mission section
section.tm-mission-images {
    background-color: $section-background;
    height: 20em;
    div.tm-mission-carousel {
        padding: 1em 0em;
    }
    div.slick-slide {
        height: 18em;
        outline: none;
    }
    ul.slick-dots {
        bottom: 0em;
    }
    button.slick-prev {
        left: 15px;
        z-index: 1;
    }
    button.slick-next {
        right: 15px;
    }
    @include breakpoint(medium) {
        height: 24.5em;
        div.slick-slide {
            height: 21em;
        }
        div.tm-mission-carousel {
            padding: 1em 0em 2em 0em;
        }
    }
}

// ************** First slide *************
.tm-img-mission-1A {
    background-image: url('https://img.thrivemarket.com/custom_assets/71a2f2d378542a1369528513a54af6ba.png');
}
.tm-img-mission-1B {
    background-image: url('https://img.thrivemarket.com/custom_assets/c5b6d9e01b300e209b567a1a86b4b3da.png');
}
.tm-img-mission-1C {
    background-image: url('https://img.thrivemarket.com/custom_assets/ab8d202829e75ff72ab4017c8405c250.png');
    background-position: 0% 90%
}
// ************** Second slide *************
.tm-img-mission-2A {
    background-image: url('https://img.thrivemarket.com/custom_assets/2c6b05f306f9cbcffa8ca5c688ba0b6a.png');
    background-position: 60% center;
}
.tm-img-mission-2B {
    background-image: url('https://img.thrivemarket.com/custom_assets/df89c2d892cf8ab4bc570f4059353e87.png');
    background-position: 80% center;
}
.tm-img-mission-2C {
    background-image: url('	https://img.thrivemarket.com/custom_assets/5a3f582b62e4f5d4a32f61ffcd0e7bfb.png');
}
// ************** Third slide *************
.tm-img-mission-3A {
    background-image: url('https://img.thrivemarket.com/custom_assets/1bc769e980a72ea7f17aef1cade4a8e1.png');
    background-position: center 20%;
}
.tm-img-mission-3B {
    background-image: url('https://img.thrivemarket.com/custom_assets/029b43c2df5d9f2e97ec4d7448af5c42.png');
    background-position: center 80%;
}
.tm-img-mission-3C {
        background-image: url('https://img.thrivemarket.com/custom_assets/3961ef5c897a900fb17af91e99c7a67c.png');
    background-position: center 20%;
}
// ************** Fourth slide *************
.tm-img-mission-4A {
    background-image: url('https://img.thrivemarket.com/custom_assets/aa8f794a870dd4aebc5b2412a583c1ed.png');
    background-position: center 20%;
}
.tm-img-mission-4B {
    background-image: url('https://img.thrivemarket.com/custom_assets/8b073f653f616cf533a7b9680839adc8.png');
    background-position: center 20%;
}
.tm-img-mission-4C {
    background-image: url('https://img.thrivemarket.com/custom_assets/cf680b21aea5a04839cd3bdf69c3fb8f.png');
}
// ************** Fifth slide *************
.tm-img-mission-5A {
    background-image: url('https://img.thrivemarket.com/custom_assets/227e48c8658128e99cd9bab2cd7e72f3.png');
    background-position: center 20%;
}
.tm-img-mission-5B {
    background-image: url('https://img.thrivemarket.com/custom_assets/4a62c7e6f8a5eae106856064cf1e957a.png');
    background-position: center 70%;
}
.tm-img-mission-5C {
    background-image: url('https://img.thrivemarket.com/custom_assets/82ec85f7d0f4fa032c348323f4af4a8c.png');
    background-position: center 70%;
}


//Location text section
section.tm-location {
    h3 {
        margin: 0.5em 0em 1.3em 0em;
    }
    h5 {
        color: $subheader-color;
        margin: 0.8em 0em 1.2em 0em;
    }
    p {
        line-height: 0.3em;
        &:last-child {
            margin-bottom: 2.1em;
        }
    }
}

//Location images carousel
section.tm-location-images {
    div {
        height: 16em;
    }
    div.slick-slide:focus {
        outline: none;
    }
    h3 {
        color: $header-overlay;
        &:first-child {
            padding-top: 1.5em;
        }
        &:last-child {
            position: relative;
            top: 50%
        }
    }
    button.slick-prev {
        left: 15px;
        z-index: 1;
    }
    button.slick-next {
        right: 15px;
    }
    @include breakpoint(medium) {
        div {
            height: 24em;
        }
        h3:last-child {
            top: 20%;
        }
    }
}
.tm-img-location-7A {
    background-image: url('https://img.thrivemarket.com/custom_assets/374b1969c2fd5c3488259f1d0281b070.png');
}
.tm-img-location-7B {
    background-image: url('https://img.thrivemarket.com/custom_assets/5394389cfd68096f588e13a160b74074.png');
}
.tm-img-location-7C {
    background-image: url('https://img.thrivemarket.com/custom_assets/6bb7865a31ad66f88999f3309996606e.png');
    background-position: 15% center;
}
.tm-img-location-7D {
    background-image: url('https://img.thrivemarket.com/custom_assets/106773af4c0cea3e2ea0443b7e70857c.png');
}
.tm-img-location-7E {
    background-image: url('	https://img.thrivemarket.com/custom_assets/6af0842a528e1ba2ebe25dfada463fbe.png');
}


//Perks & Benfits Section
section.tm-perks {
    h3 {
        margin: 2em auto 1em auto;
    }
}
//Perks & Benefits w/ carousel - shown on small only
div.tm-perks-carousel {
    height: 13em;
    padding-top: 1em;
    padding-bottom: 15em;
    div {
        margin: auto;
    }
    div.slick-slide:focus {
        outline: none;
    }
    li {
		margin-bottom: 2em;
	}
}
//Perks & Benefits - No carousel
div.tm-perks-nocarousel {
    padding: 2em 1em 3.5em 1em;

    div.row.text-left {
    	margin-bottom: 2.5em;
    	height: 2em;
    }
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
        div.row.text-left {
    		height: 3em;
    	}
    }
}

//Team images section
section.tm-team-images {
    width: 100%;
    div {
    	height: 12em;
    }
    div.row {
        width: 100%;
    }
    @media only screen and (min-width: 40.063em) and (max-width: 50em) {
        div {
            height: 10em;
        }
    }
}
.tm-img-team-9A {
    background-image: url('	https://img.thrivemarket.com/custom_assets/54bfdea466240de691dfa375a0580bc3.png');
    background-position: center 20%;
}
.tm-img-team-9B {
    background-image: url('https://img.thrivemarket.com/custom_assets/3f296841ccaa0711fc6b56e7ba607ed8.png');
    background-position: 0% center;
}
.tm-img-team-9C {
    background-image: url('https://img.thrivemarket.com/custom_assets/1e125962c609cd115624a426b7e746b2.png');
}
.tm-img-team-9D {
    background-image: url('	https://img.thrivemarket.com/custom_assets/08f5020d4f1e4f6f90d4deca986565c0.png');
    background-position: 0% center;
}
.tm-img-team-9E {
    background-image: url('https://img.thrivemarket.com/custom_assets/868b31c1bb03f1f97a3e6f47d0038ee1.png');
    background-position: 100% 0%;
}

//Job postings section
section.tm-job-postings {
    background-color: $section-background;
    padding-bottom: 3em;
    #tm-job-container {
        background-color: #FFFFFF;
        padding: 1em;
    }
    div.tm-job-link {
        height: auto;
    }
    div.tm-dept {
        margin-top: 1.5em;
    }
    h3 {
        margin-bottom: 1.5em;
    }
    h4 {
        color: $subheader-color;
        font-weight: bold;
    }
    h5 {
        margin-bottom: 0em;
    }
    p {
        color: $subheader-color;
        float: left;
        margin-bottom: 0em;
    }
    a:hover {
        border-bottom: 1px solid;
    }
    @include breakpoint(medium) {
        div.tm-job-link {
            height: 1.8em;
        }
        #tm-job-container {
            padding: 1.1em 2em;
        }
        p {
            float: right;
        }
        h3 {
            margin-top: 0.8em;
        }
        h4 {
            font-weight: normal;;
        }
    }
}

//Job detail page
section.tm-job-post{
    padding: 1em 3em;
    h2 {
        color: #000000;
        margin-bottom: 0em;
    }
    div {
        width: 100%;
    }
    li {
        list-style-type: disc;
        margin-left: 1.5em;
    }
    a:first-of-type {
        margin-top: 2em;
        float: left;
        &:hover {
            border-bottom: 1px solid;
        }
    }
    @include breakpoint(medium) {
        padding: 2em 5em;
    }
}
